In [49]:
import cabi_functions
import pandas as pd

# Data loading
First we load the table of all trips, remove any with incomplete data, and convert the datatypes to the most appropriate

In [2]:
df = cabi_functions.return_trip_datatable()
# clean the NA values out
df = df.dropna()
# convert them to appropriate datatypes
df = df.convert_dtypes()

We have some number of trips where the end station is listed as 0. Obviously these are invalid

In [84]:
df = df[df.start_station_id>0]
df = df[df.end_station_id>0]

In [83]:
# create a list of the sorted stations
sorted_stations = [sorted([int(x),int(y)]) for x,y in zip(df.start_station_id,df.end_station_id)]
sorted_stations_combined = [int(str(x)+str(y)) for x,y in sorted_stations]
# assign the station to a column in the dataframe,and group it by the unique station combo, then return the results to a seperate dataframe
grouped = df.assign(sorted_stations=sorted_stations).groupby('sorted_stations')

route_popularity = grouped.count().reset_index()
route_popularity = route_popularity[['sorted_stations','end_station_id']]
route_popularity.columns=['sorted','popularity']

           sorted  popularity
0      3100031000        1825
1      3100031001         737
2      3100031002         902
3      3100031003         944
4      3100031004         453
...           ...         ...
80057  3260932609         194
80058  3290032900         353
80059  3290032902           1
80060  3290132901           6
80061  3290232902           7

[80062 rows x 2 columns]

In [101]:
a = [int(str(val)[0:5]) for val in route_popularity.sorted]
b = [int(str(val)[5:10]) for val in route_popularity.sorted]

route_popularity = route_popularity.assign(st=a,en=b)

In [103]:
route_popularity.to_csv('data/connections_csv.csv',columns=['st','en','popularity'],index=False)