In [1]:
import pandas as pd

In [2]:
timeseries = pd.read_parquet('../data/comb_trips.gzip').set_index('started_at')
weekly = timeseries.resample('1W').count().ended_at

In [4]:
timeseries.groupby('member_casual').count()

               ended_at  start_station_id  end_station_id
member_casual
casual          7137536           7002496         6975585
member         23500046          23375921        23369884
unknown              58                58              58